.header {
  height: 12.5rem;
  background-color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header div {
  display: flex;
}

.title {
  font-size: 2.5rem;
  margin-left: 0.75rem;
  color: var(--blue);
}

.title span {
  color: var(--pueple-dark);
}